<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">STREAMING</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/" class="nav-link active" aria-current="page" href="#"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="playlist" class="nav-link" href="#">Playlist</a>
        </li>
        <li class="nav-item">
          <a routerLink="manager" class="nav-link" href="#">Manager</a>
        </li>
        <li class="nav-item">
          <a routerLink="playlist" class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row mt-1">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8 d-flex">
      <input type="text" class="form-control" placeholder="Search a video" />
      <button class="btn btn-primary">Search</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
