<div class="card mb-4">
  <div class="card-body d-flex justify-content-between align-items-center">
    <div>
      <h2>Channel detail</h2>
      <h6>The details of a given channel</h6>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" [routerLink]="['/manager/channel']">Channel</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
      </ol>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-5">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="card-title">{{ channel.title }}</h4>
        </div>

        <div class="d-flex align-items-center">
          <img
            src="{{ imageRoot }}{{ channel.profile }}"
            style="height: 100px; width: 100px"
            class="rounded-circle"
            alt=""
          />
          <div class="ms-3">
            <h5 class="card-subtitle mb-3 text-body-secondary">
              {{ channel.subTitle }}
            </h5>
            <p>{{ channel.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group">
      <div
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <h5>playlists</h5>
        <div>
          <button (click)="open(playlist_create)" class="btn btn-primary">
            Add Playlist
          </button>
        </div>
      </div>
      <div
        *ngFor="let playlist of channel.playlists"
        class="list-group-item d-flex align-items-center"
      >
        <div class="me-auto">
          {{ playlist.title }}
        </div>
        <div class="text-body-secondary">
          {{ playlist.videos.length }} videos | 103 likes
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-7">
    <div class="list-group">
      <div
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <h5>List of videos</h5>
        <div>
          <button (click)="open(video_upload)" class="btn btn-primary">
            Upload video
          </button>
        </div>
      </div>
      <div
        *ngFor="let video of channel.videos"
        class="list-group-item d-flex align-items-center"
      >
        <img
          src="{{ imageRoot }}{{ video.thumbnail }}"
          style="height: 50px; width: 50px"
          class="rounded-circle"
          alt=""
        />
        <div class="ms-3">
          <div>
            {{ video.title }}
          </div>
          <div class="text-body-secondary">2K views | 103 likes</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- start playlist creation modal -->

<ng-template #playlist_create let-c="close" let-d="dismiss">
  <div class="modal-content bg-dark text-white" data-bs-theme="dark">
    <div class="modal-header">
      <div class="modal-title">
        <h4>Create playlist</h4>
      </div>
      <button class="btn-close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <app-playlist-create
        [dismiss]="d"
        [channel]="channel.uuid"
      ></app-playlist-create>
    </div>
  </div>
</ng-template>

<!-- end playlist creation modal -->
<!-- start video upload modal -->
<ng-template #video_upload let-c="close" let-d="dismiss">
  <div class="modal-content bg-dark text-white" data-bs-theme="dark">
    <div class="modal-header">
      <div class="modal-title">
        <h4>Upload video</h4>
      </div>
      <button class="btn-close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <app-video-upload
        [dismiss]="d"
        [channel]="channel.uuid"
      ></app-video-upload>
    </div>
  </div>
</ng-template>
<!-- end video upload modal -->
