$base-text-color: rgba(255, 255, 255, 0.87);
;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// font
$base-font-size: 1.01em;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.5;
$font-size-lg: $base-font-size * 2;
$font-size-xl: $base-font-size * 3;

// border
$base-border: 1px solid white;
$base-border-thickness: 1px;
$base-border-radius: 0.5rem;

// blur filter
$base-blur-deep: 10px;

@mixin glass-filter() {
  backdrop-filter: blur($base-blur-deep);
  -webkit-backdrop-filter: blur($base-blur-deep);
}

.bg-glass{
  @include glass-filter();
  background: rgba(255, 255, 255, 0.3);
}
// sidebar
.manager_wrapper{
  display: flex;
  flex-direction: row;
  .sidebar{
    width: 240px;
    min-height: 100vh;
    .sidebar_item{
      text-decoration: none;
      display: flex;
      flex-direction: row;
    }
  }
}


.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}
