<div class="row mt-2">
  <div class="col-12 col-md-8">
    <video
      width="100%"
      src="http://localhost:8080/stream/e0581d08-4f59-4929-93f5-6940d3da66d3"
      controls
    ></video>

    <div class="row">
      <div class="d-flex justify-content-between">
        <h5>Comments</h5>
        <button class="btn btn-primary">Add comment</button>
      </div>
      <div class="col-12">
        <div class="d-flex">
          <img
            src="assets/images/api.png"
            style="height: 50px; width: 50px; border-radius: 50%"
          />
          <div>
            <div>Tsafack Albin</div>
            <div>Très beau tutoriel</div>
          </div>
        </div>
        <div class="d-flex">
          <img
            src="assets/images/api.png"
            style="height: 50px; width: 50px; border-radius: 50%"
          />
          <div>
            <div>Tsafack Albin</div>
            <div>Très beau tutoriel</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <h5>Playlist</h5>
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center">
          <img style="height: 50px; width: auto" src="assets/images/api.png" />
          <div class="px-1">Title</div>
        </div>
      </div>
    </div>
    <h5>Related videos</h5>
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center">
          <img style="height: 50px; width: auto" src="assets/images/api.png" />
          <div class="px-1">Title</div>
        </div>
      </div>
    </div>
  </div>
</div>
